
/*----------------------------------------------*/
              /*slide rolling effect*/
/*----------------------------------------------*/

body {
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.title {
  width: 50%;
  padding: 5%;
  z-index: 99999;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

#home {
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    animation: fadein 4s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#home {
  background-image: url('/images/graffiti.jpg');
  background-size: 300vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-position: 0px, 0px;*/
}

#projects {
  background-image: url('/images/pencils.jpg');
  background-size: 300vh;
  background-repeat: no-repeat;
  background-position: center;
}

#about {
  background-image: url('/images/project_slide.jpg');
  background-size: 300vh;
  background-repeat: no-repeat;
  background-position: 0px -100px;
  background-attachment: fixed;
}


/*----------------------------------------------*/
                    /*navbar*/
/*----------------------------------------------*/

.navbar-toggle {
  background-color: black;
}


.navbar-custom .navbar-brand {
  margin-left: 20px;
  font-size: 30px;
  background-color: transparent;
  border: transparent;
  font-family: Dosis;
}

#home_link {
  margin-left: 20px;
  font-size: 30px;
  color: black;
  background-color: transparent;
  border: transparent;
  font-family: Dosis;
  outline: none;
}

#home_link:hover {
  color: black;
  outline: none;
}

.navbar-custom .navbar-nav > button {
  background-color: transparent;
  border: transparent;
  margin-top: 1%;
  color: black;
  font-family: Dosis;
  font-size: 22px;
  outline: none;
}

.navbar-custom .navbar-nav > button:hover {
  color: rgba(84,84,84,1);
  outline: none;
}

.navbar-custom .navbar-brand {
  color: black;
}

#home_link:hover {
  color: rgba(84,84,84,1);
}

.navbar-custom .navbar-right {
  margin-right: 20px;
}


/*----------------------------------------------*/
             /*home page formatting*/
/*----------------------------------------------*/

.home_text {
  text-align: left;
  font-family: Permanent Marker;
  color: white;
  margin-top: -10vh;
}

.home_text .name_tag {
  font-size: 12vh;
}

.home_text .name_description {
  font-size: 6vh;
}


/*----------------------------------------------*/
             /*project page formatting*/
/*----------------------------------------------*/

.projects_header {
  color: white;
  font-family: Permanent Marker;
  font-size: 60px;
  text-align: center;
  margin-top: -18vh;
}

.hover_paragraph {
  margin: 0;
  padding: 0;
}

.content-item {
  background: url('/images/bootcamps.jpg');
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 50vh;
  margin: 7vh;
  overflow: hidden;
  position: relative;
}

.content-item .overlay {
  border-bottom: 100px solid #e8c63d;
  border-left: 100px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}

.content-item:hover .overlay {
  border-bottom: 800px solid #e8c63d;
  border-left: 800px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-item .corner-overlay-content {
  bottom: 15px;
  color: #333;
  position: absolute;
  right: 15px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-item:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-item .overlay-content {
  bottom: 0;
  color: #333;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.content-item .overlay-content h2 {
  border-bottom: 1px solid #333;
  padding: 0 0 12px;
}

.content-item:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.content-item2 {
  background: url('/images/shooting.jpg');
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 50vh;
  margin: 7vh;
  overflow: hidden;
  position: relative;
}

.content-item2 .overlay {
  border-bottom: 100px solid #e8c63d;
  border-left: 100px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}

.content-item2:hover .overlay {
  border-bottom: 800px solid #e8c63d;
  border-left: 800px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-item2 .corner-overlay-content {
  bottom: 15px;
  color: #333;
  position: absolute;
  right: 15px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-item2:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-item2 .overlay-content {
  bottom: 0;
  color: #333;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.content-item2 .overlay-content h2 {
  border-bottom: 1px solid #333;
  padding: 0 0 12px;
}

.content-item2:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


/*----------------------------------------------*/
             /*contact page formatting*/
/*----------------------------------------------*/

.contact_bubbles {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 20%;
  /*height: 80vh;*/
  margin-top: -5vh;
  margin-left: -5vh;
  margin-right: 5vh;
  float: left;
}

.box {
  border-radius: 50%;
  margin-bottom: 5vh;
  background: rgb(200,200,200);
  width: 15vh;
  height: 15vh;
  /*margin-left: 80%;*/
  /*display: inline-block;*/
  position: relative;
  transition: all .3s;
}

.box:hover {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0 0 0 #FFF,  0px 0 0 10px #1E90FF;
}

.contact_images {
  margin-top: 18%;
  position: relative;
  visibility: visible;
}

.linkedin_image {
  width: 60%;
  margin-top: 18%;
}

.github_image {
  width: 60%;
  margin-top: 20%;
}

.email_image {
  width: 80%;
  margin-top: 10%;
}

.myphoto {
  position: relative;
  width: 40vh;
  display: block;
  border-radius: 200px;
  border: 2px solid white;
  margin: 5vh;
  margin-left: 30vh;
  margin-top: -50vh;
  float: left;
}

.about_me_paragraph {
  font-family: Dosis;
  width: 60vh;
  text-align: center;
  color: white;
  font-size: 4vh;
  margin-top: -55vh;
  margin-left: 10vh;
  position: relative;
  display: block;
  float: right;

}
